<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

               
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @Html.ActionLink("Equipas ", "Index", "Equipas", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Membros ", "Index", "Membroes", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("A(drop)", "Index", "A", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("B(foreach) ", "Index", "B", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("C(drops) ", "Index", "C", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("D(drop/PK)", "Index", "D", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("E(equipa/membros.1)", "Index", "E", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("F(equipa/membros c/ select)", "Index", "F", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("G(equipa-membros-cor verde)", "Index", "G", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("H(equipa-membros completo)", "Index", "H", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("I(10 exerc. LINQ)", "Index", "I", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("J(Membros+Drop c/ bootstrap)", "Index", "J", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("K(Membros c/ drop e sem submit button)", "Index", "K", new { area = "" }, new { @class = "navbar-brand" })

                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>