
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calc</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <p>Qty.: @Html.TextBox("quantity") 
            @ViewBag.qtyMsg</p>
            

            <p>Price: @Html.TextBox("price")
                @ViewBag.priceMsg
            </p>

            <p>Please pay this amount: @Html.TextBox("result")
            </p>
           

            <input type="submit" name="name" value="Calculate!" />

        }
    </div>
</body>
</html>
