@model IEnumerable<MVC_tracking_exercise.Models.Envio>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



@using (@Html.BeginForm())
{











    <div class="col-sm-3">
        @Html.DropDownList("drop_estado",
                (SelectList)ViewBag.ESTADOS,
                "Filtrar por Estado",
                new { @class = "form-control", @onchange = "this.form.submit();" })

    </div>
    <div class="col-sm-3">
        <p>A mostrar @ViewBag.NUM_FILTRADAS de @ViewBag.NUM_TOTAL encomendas.</p>
    </div>


 }




        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Destinatario.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Codigo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataExpedicao)
                </th>
                <th></th>

                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Destinatario.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataExpedicao)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

            </table>
