@model IEnumerable<LT.Models.ListaDeContactos>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Contactos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@using (Html.BeginForm())
{
    @Html.TextBox("txt_pesquisa")
    <input type="submit" name="name" value="Pesquisar" />
}


@{
    if (!string.IsNullOrEmpty(ViewBag.txt_pesquisa))
    {
        <p>
            <i>A pesquisar por: @ViewBag.txt_pesquisa</i>
        </p>
    }
    else
    {
        <p></p>
    }


    string newSortByID = ViewBag.sortByID == "true" ? "false" : "true";
    string newSortByCliente = ViewBag.sortByCliente == "true" ? "false" : "true";
    string newSortByTelefone = ViewBag.sortByTelefone == "true" ? "false" : "true";
    string newSortByEmail = ViewBag.sortByEmail == "true" ? "false" : "true";
}


<table class="table">


    <tr>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.ID).ToString(), "Index", new { sortByID = newSortByID })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Cliente).ToString(), "Index", new { sortByCliente = newSortByCliente })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Telefone).ToString(), "Index", new { sortByTelefone = newSortByTelefone })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Email).ToString(), "Index", new { sortByEmail = newSortByEmail })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.ID }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
