@model projW.Models.LinhaDeTarefa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LinhaDeTarefa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tarefa.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarefa.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descritivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descritivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataDaLinha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDaLinha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
