
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @ViewBag.X
        
        
        <p>If you were born in 1981, you're @(2019-1981) years old.</p>
        
        
        <p> 23% VAT from a price VAT-less of 103 = @(103*0.23)</p>


        @{ 
            string name = "Victor Domingos";
        }
        <p>"@name" has @name.Length characters.</p>




        <!-- Form em Razor -->

        @using(Html.BeginForm())
        {
            @Html.TextBox("name")

            <input type="submit" value="OK" />
        }

        @ViewBag.X





    </div>
</body>
</html>
