@model IEnumerable<projW.Models.Tarefa>

@{
    ViewBag.Title = "Tarefas";
}

<h2>Tarefas</h2>
<div class="table">
    @using (Html.BeginForm())
    {
        
            <div class="container">

                <div class="row">
                    <div class="col-sm-3">

                        <p align="left">
                            <label>Mostrar:</label>
                        </p>
                    </div>

                    <div class="col-sm-3">
                        <p align="left">
                            @Html.RadioButton("filtro_coima", "com e sem coima", true) <label>Com e sem coima&nbsp;&nbsp;</label><br />
                            @Html.RadioButton("filtro_coima", "com coima") <label>Com coima&nbsp;&nbsp;</label><br />
                            @Html.RadioButton("filtro_coima", "sem coima") <label>Sem Coima&nbsp;&nbsp;</label><br />

                        </p>
                    </div>



                    <div class="col-sm-3">
                        <p align="left">
                            @Html.RadioButton("filtro_estado", "todas", true) <label>Todas&nbsp;&nbsp;</label><br />
                            @Html.RadioButton("filtro_estado", "terminadas") <label>Terminadas&nbsp;&nbsp;</label><br />
                            @Html.RadioButton("filtro_estado", "pendentes") <label>Pendentes&nbsp;&nbsp;</label><br />
                        </p>
                    </div>



                    <div class="col-sm-3">
                        <label>Pesquisar: </label>
                        @Html.TextBox("txt_pesquisa")

                    </div>




                </div>
        
        <div class="row">

            <div class="col-sm-6">

                @Html.ActionLink("Criar Nova", "Create", null, null, new { @class = "btn btn-primary" })
                <!--
                "Delete", "DeleteList", )
                class="btn btn-primary"
                    -->
            </div>

            <div class="col-sm-6">
                <p align="right">
                    <input type="submit" name="btn_atualizar" value="Atualizar" class="btn btn-primary" /><br />
                    <small>
                        @if (!String.IsNullOrEmpty(ViewBag.FILTRO_PESQUISA))
                        {
                            <span>Resultado da pesquisa por "@ViewBag.FILTRO_PESQUISA".</span>
                        }
                        A mostrar @ViewBag.TAREFAS_FILTRADAS de @ViewBag.TOTAL_TAREFAS tarefas (@ViewBag.FILTRO_ESTADO, @ViewBag.FILTRO_COIMA).
                    </small>
                </p>
            </div>
        </div>

        </div>
            
    }

</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.NomeCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Funcionario.NomeFuncionario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoPrioridade.DesignacaoPrioridade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoTarefa.DesignacaoTipoTarefa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Equipa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataRegisto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataLimite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SujeitaCoima)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descritivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.NomeCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Funcionario.NomeFuncionario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPrioridade.DesignacaoPrioridade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoTarefa.DesignacaoTipoTarefa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataRegisto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataLimite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SujeitaCoima)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descritivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
